h1{
    color:red ;
}
h2{
    color:green ;
}
h3{
    color:blue ;
}
h4{
    color:maroon ;
}
h5{
    color:yellow ;
}
h6{
    color:black;
}
p{
    color: aqua;
}
span{
    color: blueviolet;

}
img{
width: 100px;
height: 100px;
border-radius: 50%;
}